<div class="comm_title">修改密码</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>

<div class="changePas_boder">
	<div class="item border_bottom">
		<span>原密码</span>
		<input id="oldPassword" class="input" type="password" placeholder="请输入原密码"/>
	</div>

	<div class="item border_bottom">
		<span>新密码</span>
		<input id="newPassword" class="input" type="password" placeholder="请输入新密码"/>
	</div>

	<div class="item">
		<span>确&nbsp;认</span>
		<input id="surePassword" class="input" type="password" placeholder="请再次输入新密码"/>
	</div>
</div>

<div class="changePas_sure_btn ui_btn" data-action="suerChangePwd">确定</div>