<div class="comm_title">搜索人员</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>

<div class="investorProcessList_search_bg">
	<input id="searchContent" class="investorProcessList_search_input" placeholder="用户名/登录名/手机号"  />
	<div class="investorProcessList_search ui_btn" data-action="goSearch"></div>
</div>


<!-- <div id="wrapper" style="top: 44px; background: #eee;"> -->
<div id="wrapper" style="top: 87px; background: #eee;">
	<div id="scroller">
		<div id="scroller-pullDown">
			<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
			<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
		</div>
		<div id="scroller-content">
			<ul>
				<!-- <li>
					<div class="personSearch_bg">
						<div class="personSearch_item">
							<span>张小鱼</span>
							<span class="personSearch_next">></span>
						</div>
					</div>
				</li>
				<li>
					<div class="personSearch_bg">
						<div class="personSearch_item">
							<span>张小鱼</span>
							<span class="personSearch_next">></span>
						</div>
					</div>
				</li> -->
			</ul>	
		</div>
		<div id="scroller-pullUp">
			<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
			<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
		</div>
	</div>
</div>