<div class="comm_title">超级管理员资金池</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>

<div id="wrapper" style="top: 44px; background: #fff;">
	<div id="scroller">
		<div id="scroller-pullDown">
			<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
			<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
		</div>
		<div id="scroller-content">
			<ul>
				<li class="notRefresh">
					<div class="capitalPool_top_border">
						<img id="capitalPool_top_bg" class="capitalPool_top_bg" src="images/capitalPool/capitalPoolBlue_bg.png">
						<div class="capitalPool_top_content">
							<div class="title" style="margin-top: 7%;">可用额度(元)</div>
							<div class="moneyLimit" style="margin-top: 4%;" id="crusrMoney"></div>
							<div class="info"  style="margin-top: 4%;">马上投资，立享收益</div>
							<div class="changeMoneyLimit ui_btn" data-action="updateMoney">编辑额度</div>
						</div>
					</div>
				</li>
				
				<li class="notRefresh">
					<div class="capitalPool_middle">
						<div class="item">
							<div class="img_flag moneyRecharge">快速充值</div>
						</div>
						<div class="interval"></div>
						<div class="item">
							<div class="img_flag moneyExtract">快速提现</div>
						</div>
					</div>
				</li>

				<li class="notRefresh">
					<div class="halving_line"></div>
				</li>
			</ul>
		</div>
		<div id="scroller-pullUp">
			<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
			<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
		</div>
	</div>
</div>