<div class="comm_title" style="background: #2a2f33;color: #fff;border: 0px;">财富</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>

<div class="capitalPool_top_border">
	<img id="capitalPool_top_bg" class="capitalPool_top_bg" src="images/capitalPool/treasure_bg.png">
	<div class="capitalPool_top_content">

		<div class="capitalInvestor_title">昨日收益</div>
		<div class="invest_flag ui_btn" data-action="go_investorProcessList"></div>
		<div id="crusrYestIncome" class="invest_value"></div>
		<div class="total_assets">总资产(元)</div>
		<div class="moneyLimit" id="crusrMoneyTotal"></div>
	</div>
</div>

<div class="capitalPool_middle">
	<div class="item">
		<div class="img_flag moneyRecharge">快速充值</div>
	</div>
	<div class="interval"></div>
	<div class="item">
		<div class="img_flag moneyExtract">快速提现</div>
	</div>
</div>

<div class="halving_line"></div>

<div class="capitalPool_bottom_border" style="background: #fff;clear: both;">
	<div class="capitalInvestor_item">
		<div class="left_div">
			<div class="name copper_flag">铜宝宝（2.6%）</div>
			<div class="desc" style="margin-left: 28px;">即刻起息，随时取现</div>
		</div>
		<div class="right_div" id="crusrCopper"></div>
	</div>

	<div class="capitalInvestor_item">
		<div class="left_div">
			<div class="name silver_flag">银宝宝（2.6%~8.0%）</div>
			<div class="desc" style="margin-left: 28px;">投资拨款，收益稳健</div>
		</div>
		<div class="right_div" id="crusrSilver"></div>
	</div>

	<div class="capitalInvestor_item">
		<div class="left_div">
			<div class="name gold_flag">金宝宝（8.0%）</div>
			<div class="desc" style="margin-left: 28px;">专项投资，收益稳健</div>
		</div>
		<div class="right_div" id="crusrGold"></div>
	</div>
	
</div>
