<div class="comm_title">申请资金</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>


<img class="capitalApplyFor_top_bg" src="images/capitalPool/applyFor_top_bg.png">


<div class="capitalPool_bottom_border">
	<div class="capitalPool_bottom_item ui_btn" data-action="applyForName">
		<span class="span_flag">流程名称</span>
		<span class="next">></span>
		<span id="applyForName" class="limitValue">填写</span>
	</div>

	<div class="capitalPool_bottom_item ui_btn" data-action="upImg">
		<span class="span_flag">图片附件</span>
		<span class="next">></span>
		<span class="limitValue">点击上传</span>
	</div>
	<div class="capitalPool_bottom_item ui_btn" data-action="applyForIntroduce">
		<span class="span_flag">活动简介</span>
		<span class="next">></span>
		<span id="applyForIntroduce" class="limitValue">填写</span>
	</div>

	<div class="capitalPool_div_textarea">
		<div class="name">备注信息</div>
		<textarea id="applyForNote" class="textarea" placeholder="请输入您的留言"></textarea>
	</div>
</div>

<div class="capitalPool_sure_btn ui_btn" data-action="applyForSure">确定</div>