<div class="comm_title">dsfads</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>
<div id="liBtn" class="ui_btn" data-action="listBtnTest"> 356454</div>
<div id="wrapper" style="    margin-top: 100px;">
	<div id="scroller">
		<div id="scroller-pullDown">
			<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
			<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
		</div>
		<div id="scroller-content">
			<ul>
				<li class="notRefresh ui_btn" >
					
					<div id="liBtn" class="ui_btn" data-action="listBtnTest"> 356454</div>
				</li>
				<li class="notRefresh">Pretty row 3</li>
				<li class="notRefresh">Pretty row 4</li>
				<li>Pretty row 9</li>
				<li>Pretty row 10</li>
				<!-- <li>Pretty row 2</li>
				<li>Pretty row 3</li>
				<li>Pretty row 4</li>
				<li>Pretty row 5</li>
				<li>Pretty row 6</li>
				<li>Pretty row 7</li>
				<li>Pretty row 8</li>
				<li>Pretty row 9</li>
				<li>Pretty row 10</li>
				<li>Pretty row 11</li> -->
	
	
				
			</ul>
		</div>
		<div id="scroller-pullUp">
			<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
			<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
		</div>
	</div>
</div>