测试3

<div onclick="firstTest()">第一页</div>
<div onclick="secondTest()">第二页</div>
<div onclick="thirdTest()">第3页</div>

<div onclick="thirdTestCutImg()">切图</div>

<img id="testImg" src=""/>

<div class="div-personInfo-top">
	<div class="div-head" >
		<span>头像</span>
		<span class="item-content-right">></span>
		<div id="img_head_pic" class="img-head-picture" onchange="changeHead()">
			<input type="file" id="uploadphoto" name="uploadfile" style="display: block;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0;" class="img-head-picture"/>
		</div>
	</div>
</div>

<input type="file" id="uploadphoto1" name="uploadfile"  value="shangchuan" />


<!-- <div id="showDivAll" style="display: none;"> -->
<!-- <div id="showDivAll">
	<div id="showDiv" class="cutImg_div_shade" ></div>

	<div class="cutImg_content">
		<div class="cutImg_top">
		    <div class="img-container">
		        <img id="img_result"  src="plugins/cropper/assets/img/picture.jpg" alt="Picture">
		    </div>
		    <div style="text-align: center;" class="span_red">图片质量太高可能会加载缓慢，请耐心等待</div>
	    </div>


	    <div class="cutImg_bottom">
	    	<div class="cutImg_rotate_btn">
		    	<div class="rotate_right" onclick="rotate(90)"></div>
		    	<div class="rotate_left" onclick="rotate(-90)"></div>
	    	</div>


		    <div class="cutImg_bottom_btn">
		    	<div class="item">
			    	<div class="cutImg_btn" onclick="cancelCutImg()">取消</div>
			    </div>
			    <div class="item">
			    	<div class="cutImg_btn" onclick="sureCutImg()">确定</div>
			    </div>
		    </div>
	    </div>
	</div>

	<img style="position: absolute;z-index: 100000;" id="testImg" src="">

	
</div> -->