<!-- <div class="comm_title">上传图片</div>
<div class="comm_goBack ui_btn" data-action="goBack"><</div>

<div id="img_border" class="upImg_border">

	<div id="imgDispalyDiv"></div>
	

	
</div>

<div class="upImg_btn_border">
	<label class="upImg_btn_item" for="xFile">新增</label>
	<input id="xFile" type="file" style="position:absolute;clip:rect(0 0 0 0);"
	enctype="multipart/form-data"  onchange="selectFile(this)">

	<div id="sureUpImg" class="upImg_btn_item sureUp">上传</div>
</div> -->


<!-- <div class="upImg_item">
		<img class="upImg_preview btn" src="images/capitalPool/applyFor_top_bg.png">
		<div class="upImg_name">mingz空间的法律莎拉蒂斯克挥发速度较快</div>
		<div class="upImg_top_bar">
			<div class="file_delete"></div>
		</div>
	</div>

	<div class="upImg_item">
		<img class="upImg_preview" src="images/tool/close.png">
		<div class="upImg_name">mingz</div>
		<div class="upImg_bar"></div>
	</div> -->
	<!-- <div>
		<div role="button" tabindex="0" aria-label="Download" class="Download" data-progressbar-label="Downloading item..."></div>
	</div> -->
