<div class="comm_title">编辑集团详情</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>

<div class="companyDetails_big_bg comm_bottom_btn_placeholder">
	<div class="firstItem ui_btn" data-action="changeName">
		<div class="companyDetails_flag"></div>
		<div class="company_name" id="crgroName"><%=data.crgroName%></div>
		<div class="comm_next" style="height: 58px;line-height: 58px;"></div>
	</div>
	<div class="middleItem">
		资金金额 
		<span class="span_blue" style="float: right; margin-right: 15px;">￥<%=data.crgroMoney%></span>
	</div>

	<div class="middleItem ui_btn" data-action="to_administratorList">
		集团管理员
		<div class="comm_next" style="height: 41px;line-height: 41px;">></div>
	</div>

	<div class="middleItem ui_btn" data-action="changeDesc">
		集团简介
		<div class="comm_next" style="height: 41px;line-height: 41px;">></div>
	</div>

	<div class="lastItem" id="crgroDesc">
		<%=data.crgroDesc%>
	</div>
</div>

<div class="comm_bottom_btn ui_btn" data-action="deleteCompany">删除全部信息</div>