<div class="comm_title">创建集团</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>

<div class="createCompany_div_item">
	<div class="createCompany_name">集团名字</div>
	<input id="crgroName" class="createCompany_input" placeholder="请输入集团名字"/>
</div>

<div class="createCompany_div_item">
	<div class="createCompany_name">资金额度</div>
	<input id="crgroMoney" class="createCompany_input" type="tel" placeholder="请输入分配资金额度"/>
</div>

<div class="createCompany_div_textarea">
	<div class="createCompany_name">集团简介</div>
	<textarea id="crgroDesc" class="createCompany_textarea" placeholder="请输入集团的简要信息"></textarea>
</div>

<div class="createCompany_sure_btn ui_btn" data-action="saveCompany">创建</div>