<div class="comm_title">流程走向</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>

<div id="wrapper" style="top: 44px; background: #eee;">
	<div id="scroller">
		<div id="scroller-pullDown">
			<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
			<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
		</div>
		<div id="scroller-content">
			<ul>
				<!-- <li>
					<div class="processDir_head"></div>
					<div class="processDir_border">
						<div class="item top">
							<span>财务张小鱼</span>
							<span class="time">2016-10-13 10:12</span>
						</div>
						<div class="item middle">
							dsalfhsdaljkhflas两幅地块萨芬海口地税局大厦发生大发送到富士达
						</div>
						<div class="item bottom">
							<span style="color:#888">流程环节：</span>
							<span>聚到发起</span>
						</div>
						<div class="processDir_imgFlag initiate_flag"></div>
					</div>
				</li>

				<li>
					<div class="processDir_head"></div>
					<div class="processDir_border">
						<div class="item top">
							<span>财务张小鱼</span>
							<span class="time">2016-10-13 10:12</span>
						</div>
						<div class="item middle">
							dsalfhsdaljkhflas两幅地块萨芬海口地税局大厦发生大发送到富士达
						</div>
						<div class="item bottom">
							<span style="color:#888">流程环节：</span>
							<span>聚到发起</span>
						</div>
						<div class="processDir_imgFlag through_flag"></div>
					</div>
				</li> -->
			</ul>
		</div>
		<div id="scroller-pullUp">
			<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
			<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
		</div>
	</div>
</div>
