<div class="comm_title">创建项目</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>


<div class="createProject_div_item">
	<div class="createProject_name">项目名称</div>
	<input id="crproName" class="createProject_input" placeholder="请输入项目的名字"/>
</div>

<div class="createProject_div_item">
	<div class="createProject_name">资金额度</div>
	<input id="crproMoney" class="createProject_input" type="tel" placeholder="请输入分配资金额度"/>
</div>

<div class="createProject_div_item">
	<div class="createProject_name">所属集团</div>
	<select id="crproCompany" class="createProject_select">
	</select>
</div>

<div class="createProject_div_textarea">
	<div class="createProject_name">项目简介</div>
	<textarea id="crproDesc" class="createProject_textarea" placeholder="请输入项目的简要信息"></textarea>
</div>

<div class="createProject_sure_btn ui_btn" data-action="saveProject">创建</div>