<div class="comm_title">项目列表</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>
<div class="comm_title_right ui_btn" data-action="to_createProjectView">创建</div>

<div id="wrapper" style="top: 44px; background: #eee;">
	<div id="scroller">
		<div id="scroller-pullDown">
			<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
			<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
		</div>
		<div id="scroller-content">
			<ul>
			</ul>
		</div>
		<div id="scroller-pullUp">
			<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
			<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
		</div>
	</div>
</div>