<div class="comm_title">职员列表</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>
<div class="comm_title_right ui_btn" data-action="to_createWorker" >创建</div>

<div class="administrator_img_flag"></div>

<div id="wrapper" style="top: 128px; background: #eee;">
	<div id="scroller">
		<div id="scroller-pullDown">
			<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
			<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
		</div>
		<div id="scroller-content">
			<ul class="administrator_ul" style="margin-top: 8px;overflow: auto;">
			</ul>
		</div>
		<div id="scroller-pullUp">
			<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
			<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
		</div>
	</div>
</div>