<div class="comm_title">投资拨款流程</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>

<div class="investorProcessList_search_bg">
	<input id="searchContent" class="investorProcessList_search_input" placeholder="查找所在项目名称"  />
	<div class="investorProcessList_search ui_btn" data-action="goSearch"></div>
</div>


<!-- <div id="wrapper" style="top: 44px; background: #eee;"> -->
<div id="wrapper" style="top: 86px; background: #eee;">
	<div id="scroller">
		<div id="scroller-pullDown">
			<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
			<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
		</div>
		<div id="scroller-content">
			<ul>
				<!-- <li>
					<div class="pendingTrial_top">
						<div class="pendingTrial_flag">借款流程</div>
					</div>
					<div class="pendingTrial_big_border">
						<div class="pendingTrial_title">
							本项目资金紧缺越要借款
							<div class="investorProcessList_delete"></div>
						</div>
						<div class="pendingTrial_desc">
							<span style="color:#a4a4a4">所属项目：</span><span style="color:#333">北城紫光</span><br/>
							<span style="color:#a4a4a4">当前环节：</span><span style="color:#333">拨款发起</span><br/>
							<span style="color:#a4a4a4">拨款金额：</span><span  style="color:#111">￥2566.00元</span><br/>
							<span style="color:#a4a4a4">更新时间：</span><span style="color:#a4a4a4">2013-10-15 12：12</span>
						</div>
						<div class="pendingTrial_toDesc">
							查看详情
							<div class="comm_next" style="height: 35px;line-height: 35px; color: #f38701;">></div>
						</div>
					</div>
				</li>

				<li>
					<div class="pendingTrial_top apply">
						<div class="pendingTrial_flag apply">借款流程</div>
					</div>
					<div class="pendingTrial_big_border">
						<div class="pendingTrial_title">
							本项目资金紧缺越要借款
							<span class="investorProcessList_blueSpan">添加</span>
						</div>
						<div class="pendingTrial_desc">
							<span style="color:#a4a4a4">所属项目：</span><span style="color:#333">北城紫光</span><br/>
							<span style="color:#a4a4a4">当前环节：</span><span style="color:#333">拨款发起</span><br/>
							<span style="color:#a4a4a4">拨款金额：</span><span  style="color:#111">￥2566.00元</span><br/>
							<span style="color:#a4a4a4">更新时间：</span><span style="color:#a4a4a4">2013-10-15 12：12</span>
						</div>
						<div class="pendingTrial_toDesc apply">
							查看详情
							<div class="comm_next" style="height: 35px;line-height: 35px; color: #9385fb;">></div>
						</div>
					</div>
				</li>

				<li>
					<div class="pendingTrial_top">
						<div class="pendingTrial_flag">借款流程</div>
					</div>

					<div class="pendingTrial_big_border">
						<div class="pendingTrial_title">
							本项目资金紧缺越要借款
							<span class="investorProcessList_graySpan">已添加</span>
							
						</div>
						<div class="pendingTrial_desc">
							<span style="color:#a4a4a4">所属项目：</span><span style="color:#333">北城紫光</span><br/>
							<span style="color:#a4a4a4">当前环节：</span><span style="color:#333">拨款发起</span><br/>
							<span style="color:#a4a4a4">拨款金额：</span><span  style="color:#111">￥2566.00元</span><br/>
							<span style="color:#a4a4a4">更新时间：</span><span style="color:#a4a4a4">2013-10-15 12：12</span>
						</div>

						<div class="pendingTrial_toDesc">
							查看详情
							<div class="comm_next" style="height: 35px;line-height: 35px; color: #f38701;">></div>
						</div>
					</div>
				</li> -->
				<!-- <div class="investorProcessList_delete"></div> -->
			</ul>	
		</div>
		<div id="scroller-pullUp">
			<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
			<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
		</div>
	</div>
</div>