<div class="comm_title">投资客列表</div>
<div class="comm_goBack ui_btn" data-action="goBack"></div>
<div class="comm_title_right ui_btn" data-action="createInvestor">创建</div>

<div id="wrapper" style="top: 44px; background: #eee;">
	<div id="scroller">
		<div id="scroller-pullDown">
			<span id="down-icon" class="icon-double-angle-down pull-down-icon"></span>
			<span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
		</div>
		<div id="scroller-content">
			<ul>
				<!-- <li>
					<div class="investorList_div">
						<div class="investorList_div_top">
							<div class="investorList_flag">张小鱼</div>
							<div class="investorList_toDes">详情</div>
						</div>

						<div class="investorList_div_bottom">
							<span class="name">资金金额：</span>
							<span class="value">￥ 255568.00元</span>
							<br/>
							<span class="name">已借出：</span>
							<span class="value">￥ 255568.00元</span>
						</div>
					</div>
				</li>

				<li>
					<div class="investorList_div">
						<div class="investorList_div_top">
							<div class="investorList_flag">张小鱼</div>
							<div class="investorList_toDes">详情</div>
						</div>

						<div class="investorList_div_bottom">
							<span class="name">资金金额：</span>
							<span class="value">￥ 255568.00元</span>
							<br/>
							<span class="name">已借出：</span>
							<span class="value">￥ 255568.00元</span>
						</div>
					</div>
				</li> -->
			</ul>		
		</div>
		<div id="scroller-pullUp">
			<span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
			<span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
		</div>
	</div>
</div>